/*
This file is part of PYCTS, the PY151 Credit Tracking System.

PYCTS is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PYCTS is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with PYCTS.  If not, see <http://www.gnu.org/licenses/>.

PYCTS and this file are Copyright 2011 by Mark Platek.
*/


* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: dejavu sans, arial, helvetica, sans-serif;
	background-color: white;
	color: black;
	min-width: 1000px;
	line-height: 1.5em;
}

span.input_explanation {
	font-size: smaller;
	font-style: italic;
}

a {
	outline: none;
}

#action_result {
	background-color: #5f5;
	padding-left: 1em;
}

#action_result_fail {
	background-color: #f55;
	padding-left: 1em;
}

/* ------------------------------------------------------------------------- */
/* all section divs */
/* ------------------------------------------------------------------------- */
.section {
	margin: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid black;
}

.section h2 {
	padding-bottom: .2em;
	font-size: larger;
}

.section p {
	padding-top: .2em;
	padding-bottom: .2em;
}

.section input.text {
	width: 23em;
}

.section table {
	border-collapse: collapse;
}

.section th {
	text-align: center;
	padding: .6em;
}

.section td {
	border: 1px solid black;
	padding: .2em;
}

.section td.credit_removed {
	font-size: smaller;
	text-decoration: line-through;
	padding: .1em;
}

.section dt {
	float: left;
	padding-right: 1em;
	min-width: 9em;
}

.section ul {
	list-style-position: inside;
	margin-top: .5em;
	margin-bottom: .5em;
}

/* ------------------------------------------------------------------------- */
/* top bar */
/* ------------------------------------------------------------------------- */
#user_navbar {
	background-color: #024001;
	height: 68px;
	margin: 0;
}

#user_navbar li {
	list-style-type: none;
	display: block;
	float: left;
	padding: 10px 1em 0 10px;;
}

#user_navbar li#logout {
	float: right;
}

#user_navbar img {
	border: none;
}

#user_navbar a {
	color: white;
	text-decoration: none;
	padding: 3px;
}

#user_navbar a:hover {
	background-color: #333;
	color: black;
	background-color: white;
}

#user_navbar a.img:hover {
	background-color: #024001;
}

#user_navbar span#greeting {
	color: white;
	font-size: 1.2em;
}

/* ------------------------------------------------------------------------- */
/* utility div */
/* ------------------------------------------------------------------------- */
#utility {
	background-color: #024001;
	color: white;
	line-height: normal;
	padding-top: 5px;
	padding-bottom: 5px;
}

#utility ul {
	margin-left: 1em;
}

#utility li {
	list-style-type: none;
	display: inline;
	padding-top: 5px;
	padding-bottom: 5px;
}

#utility li.search {
	padding: 0;
	float: right;
	margin-right: 1em;
}

#utility a {
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	padding-left: .5em;
	padding-right: .5em;
	margin-right: .3em;
}

#utility a.selected {
	background-color: white;
	color: black;
}

#utility a:hover {
	background-color: white;
	color: black;
}

/* ------------------------------------------------------------------------- */
/* display and sub-divs */
/* ------------------------------------------------------------------------- */
#display {
}

#display p.message {
	margin: 1em;
	font-style: italic;
}

#display a.message {
	font-style: normal;
	color: blue;
}

#display_quickadd {
	padding: 1em;
	border-bottom: 1px solid black;
}

#display_quickadd dl {
	margin: .4em 0em .4em 0em;
}

#display_quickadd dt {
	float: left;
	padding-right: .5em;
	width: 6em;
}

#display_quickadd p#student_count {
	margin: 1em 0em 0em 0em;
	font-weight: bold;
}

#display_quickadd input.text {
	width: 30em;
}

#display_roster {
	margin: 1em;
}

#display_roster table {
	border-collapse: collapse;
}

#display_roster th {
	text-align: center;
	padding: 0em 2em .2em 2em;
}

#display_roster tr.color0 {
	background-color: #eee;
}

#display_roster tr.color1 {
	background-color: #ddd;
}

#display_roster td {
	padding: 0em 2.0em 0em 2.0em;
	border: 1px solid black;
	text-align: left;
}

#display_roster td.center {
	text-align: center;
}

#display_roster th a {
	color: blue;
}
